<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeMapper">


	<sql id="bs">

		<choose>
			<when test="kind == 'kt'">
				where title like '%'||#{search}||'%'
			</when>
			<when test="kind == 'kw'">
				where writer like '%'||#{search}||'%'
			</when>
			<otherwise>
				where contents like '%'||#{search}||'%'
			</otherwise>
		</choose>


	</sql>



	<!--boardDelete -->
	<delete id="boardDelete" parameterType="java.lang.Integer">
		delete notice where num=#{num}
	</delete>


	<!--boardUpdate -->

	<update id="boardUpdate" parameterType="NoticeVO">
		update notice set title=#{title},writer=#{writer} , contents=#{contents} ,
		#{fileName} , #{originalName}
		where num=#{num}

	</update>



	<!-- boardSelect -->
	<select id="boardSelect" parameterType="NoticeVO"
		resultMap="boardFile">
		select N.*, F.fnum,F.fname, F.oname
		from notice N full outer join noticefiles F
		on N.num =F.num
		WHERE N.num=#{num}

	</select>

	<resultMap type="NoticeVO" id="boardFile">

		<id property="num" column="num" />
		<result property="title" column="title" />
		<result property="writer" column="writer" />
		<result property="contents" column="contents" />
		<result property="reg_date" column="reg_date" />
		<result property="hit" column="hit" />
		<collection property="files" javaType="java.util.List" ofType="NoticeFilesVO">
			<id property="fnum" column="fnum"/>
			<result property="fname" column="fname"/>
			<result property="oname" column="oname"/>
		</collection>

	</resultMap>




	<select id="boardCount" resultType="java.lang.Integer"
		parameterType="Pager">
		select count(num) from notice
		<include refid="bs"></include>
	</select>



	<select id="boardList" parameterType="Pager"
		resultType="NoticeVO">
		select * from
		(select N.*, rownum R from
		(select * from notice

		<include refid="bs"></include>

		order by num desc) N)
		where R between #{startRow} and #{lastRow}
	</select>

	<insert id="boardWrite" parameterType="BoardVO">
		<selectKey order="BEFORE" resultType="java.lang.Integer"
			keyProperty="num">
			select board_seq.nextval from dual
		</selectKey>

		insert into notice
		values(#{num}, #{title}, #{writer}, #{contents}, sysdate, 0 )
	</insert>



</mapper>